<div class="container">
  <div class="row col-sm-6 col-sm-offset-3">
    <h1>Idea Box Rises!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Submit A New Idea</h3>
      <form>
        <div class ="new-idea">
          <div class="form-group">
            <input name="idea-title" type="text" class="form-control" id="idea-title" placeholder="Name">
          </div>
          <div class="form-group">
            <input name="idea-body" type="textfield" class="form-control" id="idea-body" placeholder="Description">
          </div>
          <button type="submit" id="create-idea" class="btn btn-default">Create Idea</button>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-sm-offset-3">
    <div id="ideas"></div>
  </div>
</div>
