<div class="container">
  <div class="row col-med-6">
    <h1>Idea Box Rises! Create an Idea. Upvote. Downvote. Participate!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Submit A New Idea</h3>
        <div class ="new-idea form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="idea-title" placeholder="Your Idea Name">
          <br>
          <label>Description</label>
          <input type="textfield" class="form-control" id="idea-body" placeholder="Your Idea Description">
          <br>
          <button type="submit" id="create-idea" class="btn btn-default btn-success">Create Idea</button>
        </div>
      <br>
    </div>
  </div>
</div>


<div class="row col-sm-12 col-sm-offset-3">
  <div id="ideas"></div>
</div>
