<div class="container">
  <div class="row">
    <h1>This works baby!</h1>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="inputName">Idea Name</label>
    <input type="ideaName" class="form-control" id="inputName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="inputBody">Idea Description</label>
    <input type="ideaBody" class="form-control" id="inputBody" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
