<div class="container">
  <div class="row col-sm-6 col-sm-offset-3">
    <h1>Idea Box Rises!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Submit A New Idea</h3>
      <form>
        <div class ="new-idea form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="new-idea-title" placeholder="Name">
          <br>
          <label>Description</label>
          <input type="textfield" class="form-control" id="new-idea-body" placeholder="Description">
          <br>
          <button type="submit" id="create-idea" class="btn btn-default">Create Idea</button>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-sm-offset-3">
    <div id="ideas"></div>
  </div>
</div>
