<br>
<div class="container">
  <div class="row col-med-6">
    <h1>Idea Box Rises! Create an Idea. Upvote. Downvote. Participate!</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Submit A New Idea</h3>
        <div class ="new-idea form-group">
          <input type="text" class="form-control" id="idea-title" placeholder="Your Idea Name">
          <br>
          <input type="textfield" class="form-control" id="idea-body" placeholder="Your Idea Description">
          <br>
          <button type="submit" id="create-idea" class="btn btn-default btn-success">Create Idea</button>
        </div>
      <br>
    </div>
    <div class="col-md-6" id="search">
      <h3>Search Ideas</h3>
      <input type="text" class="form-control" id="idea-search" placeholder="Search for an Idea">
    </div>
  </div>

  <div class="row col-md-10">
    <div id="ideas"></div>
  </div>
</div>
